<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="forum.css">
  <title>Forum</title>
</head>
<body>

<div>
    <div class ="user-area"> 
      <a href="/forum">Display user name</a>
      <p>Display user image</p>
    </div>
    
    <div class ="message-posting-area"> 
      <div class="forum-post-form">
        <form method="POST">
          <input type="text" name="subject" placeholder="Subject" required>
          <input type="text" name="msg-text" placeholder="Message text" required>
          <p>Image uploader here</p>
          <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>
    
    </div>
    
    <div class ="message-display-area">
      <p>For message in messages display 10</p>    
    </div>
</div>


</body>
</html>