div
  //- .user-area
  //-   a(href='/forum') Display user name
  //-   p Display user image
  .message-posting-area
    .forum-post-form
      form(action='/forum/upload' method='POST' enctype="multipart/form-data")
        input(type="file" name="file" id="file")
        input.submit-button(type='submit' value='Upload')
  //- .message-display-area
  //-   p For message in messages display 10