extends layout 

block content 
  div
    .user-area
      a(href='/user') Welcome  #{user_name}
      a(href='/') Logout   

    .message-posting-area 
      h1  Post a message here
      .popup-message #{popup}
      .forum-post-form
        form(action='/forum/submit' method='POST' enctype="multipart/form-data")
          input(type='text' name='subject' placeholder='Subject' required='')
          input(type='text' name='msg' placeholder='Message' required='')
          h2 Attach image
          input(type="file" name="attachment")
          input(type='submit' value='Submit')
    .message-display-area
      each subject in messages ? messages :[]
          div | #{subject} <br/>

    