mixin post(msg , subject, pic, postedBy)
    .post-body
        h6
        img(pic)
        a.text-body(href='#' data-toggle='collapse' data-target='.forum-content')=subject 
        p.text-secondary=msg 
        p.text-secondary=postedBy 

    //- h2= subject 
    //- img(pic)
    //- p.message=msg 
    //- p.postedBy=postedBy 