mixin post(msg , subject, pic, postedBy)
    .post-body
        .profile-pic 
            img(src=pic)
        .post-content 
            h2.text-body=subject 
            p.text-body=msg 
            p.text-body="posted by " + postedBy
        

    //- h2= subject 
    //- img(pic)
    //- p.message=msg 
    //- p.postedBy=postedBy 